* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#form
{
    width: 50%;
    margin: auto;
    border: 3px solid #f1f1f1;
    box-sizing: border-box;
    background-color: rgb(136, 154, 155);
    display: none;
}

#optionForm
{
    width: 50%;
    margin: auto;
    border: 3px solid #f1f1f1;
    box-sizing: border-box;
    background-color: rgb(76, 131, 134);
    display: none;
}


#optionFormContainer
{
    padding: 1em;
}
  
#formcontainer 
{
    padding: 1em;
}

input, select
{
    margin: 1em;
}

label 
{
    font-weight: bold;
    margin: 1em;
}

table, td, th 
{
    border: 1px solid black;
}
  
table 
{
    border-collapse: collapse;
    width: 100%;
}
  
td 
{
    text-align: center;
}

#tableTitle
{
    text-align: center;
}

#eventName, #eventNameLabel
{
    display: none;
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}

body.loggedin {
    background-color: #f3f4f7;
}

.content {
    width: 750px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}

.content>p,
.content>div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 15px;
    background-color: #fff;
}

.content>p table td,
.content>div table td {
    padding: 5px;
}

.content>p table td:first-child,
.content>div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}

.content>div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

.content form input[type="submit"] {
    width: 75%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.content form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

select
{
    width: 25%;
    background-color: #c5c5c5;
}

#returnBtnTS, #submitBtnTS
{
    position: relative;
    left: 40%;
    background-color: #a5a9c0;
    margin-bottom: 20px;
    margin-right: 20px;
}

#positionTS
{
    font-weight: 300;
    background-color: #9aa2ad;
}

#positionHeader, #playerHeader
{
    background-color: #485a72;
}

#tableTitleMV
{
    font-weight: bolder;
    position: relative;
    left: 50%;
    padding-top: 20px;
}

#unavailableButton
{
    margin: 10px;
}

#tableHeaderMV
{
    padding: 5px;
    background-color: #a5a9c0;
}

#MVrows
{
    background-color: #cbcdd6;
}

#AttendanceTableHeader
{
    background-color: #a5a9c0;
    font-weight: bolder;
}

#tableTitleAtt
{
    position: relative;
    left: 40%;
    font-weight: 400;
    padding-top: 10px;
}

#att
{
    font-weight: bold;
}

#AttendanceRows
{
    background-color: #cbcdd6;
}

#editFormContainer
{
    position: relative;
    background-color: #cbcdd6;
    padding: 10px;
}